@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: 'Pretendard', 'sans-serif';

  --color-line-10: #f9f9fa;
  --color-line-50: #f3f3f3;
  --color-line-100: #dadada;
  --color-line-200: #c8c8c9;
  --color-line-300: #afafb0;
  --color-line-400: #a0a0a1;
  --color-line-500: #888889;
  --color-line-600: #7c7c7d;
  --color-line-700: #616161;
  --color-line-800: #4b4b4b;
  --color-line-900: #39393a;

  --color-primary-50: #e6fbf3;
  --color-primary-100: #b0f1d8;
  --color-primary-200: #8aeac6;
  --color-primary-300: #54e1ab;
  --color-primary-400: #33db9b;
  --color-primary-500: #00d282;
  --color-primary-600: #00bf76;
  --color-primary-700: #00955c;
  --color-primary-800: #007448;
  --color-primary-900: #005837;

  --color-secondory-blue-50: #ecf5ff;
  --color-secondory-blue-100: #c3dfff;
  --color-secondory-blue-200: #a7cfff;
  --color-secondory-blue-300: #7eb9ff;
  --color-secondory-blue-400: #65acff;
  --color-secondory-blue-500: #3f97ff;
  --color-secondory-blue-600: #3989e8;
  --color-secondory-blue-700: #2d6bb5;
  --color-secondory-blue-800: #23538c;
  --color-secondory-blue-900: #1a3f6b;

  --color-secondory-lemon-50: #fffef3;
  --color-secondory-lemon-100: #fffbd9;
  --color-secondory-lemon-200: #fff9c6;
  --color-secondory-lemon-300: #fff7ac;
  --color-secondory-lemon-400: #fff59c;
  --color-secondory-lemon-500: #fff383;
  --color-secondory-lemon-600: #e8dd77;
  --color-secondory-lemon-700: #b5ad5d;
  --color-secondory-lemon-800: #8c8648;
  --color-secondory-lemon-900: #6b6637;

  --color-secondory-red-50: #fff2f1;
  --color-secondory-red-100: #ffd7d2;
  --color-secondory-red-200: #ffc4bc;
  --color-secondory-red-300: #ffa99e;
  --color-secondory-red-400: #ff998b;
  --color-secondory-red-500: #ff7f6e;
  --color-secondory-red-600: #e87464;
  --color-secondory-red-700: #b55a4e;
  --color-secondory-red-800: #8c463d;
  --color-secondory-red-900: #6b352e;

  --text-display-xl: 2rem;
  --text-display-lg: 1.75rem;
  --text-display-md: 1.5rem;
  --text-display-sm: 1.25rem;
  --text-text-xl: 1.125rem;
  --text-text-lg: 1rem;
  --text-text-md: 0.875rem;
  --text-text-sm: 0.75rem;

  --shadow-custom: 4px 4px 12.5px 0px rgba(0, 0, 0, 0.1);

  --animation-spin-around: spin-around 3s linear infinite;
  --animation-slide-in: slide-in 0.3s ease-out;
  --animation-slide-out: slide-out 0.3s ease-in;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);

  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);

  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);

  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.269 0 0);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes spin-around {
  from {
    transform: rotate(0deg) translateX(20px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(20px) rotate(-360deg);
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
